<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" style="margin-left: 5% ; margin-top: 5%">
    <tr>
        <td> . . /
        </td>
    </tr>
    <tr>
        <td><a href="./getFirstDir?sh=ls gkyhxt&BUCKET=gkyhxt">gkyhxt</a>
        </td>
    </tr>
    <tr>
        <td><a href="./getFirstDir?sh=ls gkyhxt-lyg&BUCKET=gkyhxt-lyg">gkyhxt-lyg</a>
        </td>
    </tr>
    <tr>
        <td><a href="./getFirstDir?sh=ls gkyhxt-njg&BUCKET=gkyhxt-njg">gkyhxt-njg</a>
        </td>
    </tr>
    <tr>
        <td><a href="./getFirstDir?sh=ls gkyhxt-tcg&BUCKET=gkyhxt-tcg">gkyhxt-tcg</a>
        </td>
    </tr>

</table>
</body>
</html>